@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Inventario de Sodimac</h1>
    <p>Por favor de clicl para continuar</p>
    <br />
    <a asp-action="Inventario" asp-controller="Home" class="btn btn-primary btn-sm">Ir al Inventario</a>

</div>

